@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');
:root {
    font-family: "Noto Sans KR", sans-serif;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}

#root {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

a {
    font-weight: 500;
    color: #646cff;
    text-decoration: inherit;
}

a:hover {
    color: #535bf2;
}

body {
    margin: 0;
    display: flex;
    place-items: center;
    min-width: 320px;
    min-height: 100vh;
}

h1 {
    
    font-size: 3.2em;
}

@media (prefers-color-scheme: light) {
    :root {
        color: #213547;
        background-color: #ffffff;
    }

    a:hover {
        color: #747bff;
    }
}

#content-container {
    overflow-y: auto;
    flex-grow: 1;
}

::-webkit-scrollbar-button {
    width: 0;
    height: 0;
}

::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-thumb {
    border-radius: 3px;
    background-color: gray;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}   

input, textarea {
    font-size: 16px;
    resize: none;
    font-family: "Noto Sans KR", sans-serif;
}

button {
    background-color: #ececec;
    color: black;
    transition: all 0.3s ease 0s;
    cursor: pointer;
    border-radius: 5px;
    border: none;
}

button:hover {
    background-color: #dadfe3;
    box-shadow: #dadfe366 0px 4px 8px;
    transform: translateY(-3px);
}