#title {
    font-size: 60px;
    color: black;
}

#content {
    font-size: 30px;
    color: black;
}

#comment-container {
    display:flex;
    flex-direction: column;
}

#comment-input-container {
    display: flex;
}

ul{
    overflow-y:scroll;
    margin: 0;
    padding: 0;

}

.comment {
    width: 100%;
    text-align: left;
    max-width: 100%;
    padding: 0 10px 0 10px;
    display: flex;
    flex-wrap: wrap;
    word-wrap: break-word;
}