#title {
    padding: 10px;
    text-align: center;
    font-weight: 500;
    font-size: 30px;
}

#content {
    padding: 10px;
    border-bottom: 1px solid #dddfe0;
}

#comment-container {
    display:flex;
    flex-direction: column;
}

#comment-input-container {
    display: flex;
    gap: 20px;
    align-items: center;
}

ul {
    overflow-y:scroll;
    margin: 0;
    padding: 0;

}

.comment {
    text-align: left;
    min-height: 30px;
    padding: 10px;
    border-bottom: 1px solid #dddfe0;
    word-break: break-all;
    display: flex;
    align-items: center;
}

#write-comment {
    flex-grow: 1;
    height: 60px;
}

#post-comment {
    width: 50px;
    height: 50px;
}

#comment-title {
    display: flex;
    gap: 10px;
    height: 30px;
    align-items: center;
    padding: 5px 10px;
}

#comment-input-wrapper {
    padding: 0 5px 10px;
    border-bottom: 1px solid #dddfe0;
}