#title {
    padding: 10px;
    text-align: center;
    font-weight: 500;
    font-size: 30px;
}

#content {
    padding: 10px;
}

#comment-container {
    display:flex;
    flex-direction: column;
}

#comment-input-container {
    display: flex;
}

ul{
    overflow-y:scroll;
    margin: 0;
    padding: 0;

}

.comment {
    text-align: left;
    min-height: 30px;
    padding: 0 10px;
    border-bottom: 1px solid #dddfe0;
    word-break: keep-all;
    word-wrap: break-word;
    display: flex;
    align-items: center;
}